In [1]:
#Map Function : applies the given function to all the elements or items of the iterable(either list, strings or any iterable)

#syntax : map(function, iterable(list, strings etc))

In [6]:
#Lets take an example 
def square(num) :
    return num*num

#if we want the square of a number
square(6)

#now suppose we have a list of numbers and we want to find squares, we can either create a function and using for loop append a squares in new list
#but instead we can use map() function 
numbers = [1,2,3,4,5,6,7,8,9]
list(map(square, numbers)) #this will give the square of each number in the list

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
#now we see that the square function has single expression so we can use the lambda function along with map function 
list(map(lambda x: x*x, numbers)) #so explicitly we haven't used any function

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [13]:
#Now if we want to use map() on multiple iterables 
num1 = [1,2,3]
num2 = [4,5,6,]

#and we want to add up the corresponding value of num1 and num2 and store it into another list, we can use function but lets try with map and lambda func
list(map(lambda x,y: x+y, num1, num2)) #the x will be taking the values from num1 and y will be taking the values from num2

[5, 7, 9]

In [17]:
#Now lets try the map() function on the list of the dictionaries and retrieve the names of of each student
student = [   
    {'name':'Subrat', 'age':23},
    {'name':'Khushi', 'age':23}
]
#if we want the name of rhe student either we can use the function or the map function 
list(map(lambda student: student['name'], student))

['Subrat', 'Khushi']

In [19]:
#we can also type conversion of all items in the list
lst = ['1','2','5','9','7']
list(map(int, lst)) #int (function type casting of str to int), lst(list which we have created iterables calls)

[1, 2, 5, 9, 7]

In [21]:
#we can also create the list of items which contain the lowercase of the other list
lst = ['APPLE', 'BANANA', 'ORANGE', 'GUAVA', 'WATERMELON', 'MELON']
list(map(str.lower, lst))

['apple', 'banana', 'orange', 'guava', 'watermelon', 'melon']