In [37]:
#IN THIS WE WILL STUDY ABOUT THE TUPLES 

#Creating tuples
tpl1 = ()
print(tpl1, type(tpl1))

() <class 'tuple'>

In [39]:
lst = list()
print(type(lst))

tpl = (1,2,3,4,5)
print(tpl, type(tpl)) 

tpl2 = tuple()
print(type(tpl2))

<class 'list'>
(1, 2, 3, 4, 5) <class 'tuple'>
<class 'tuple'>

In [43]:
numbers = tuple([1,23,4,4])
print(numbers)

numbers = list(numbers)
print(numbers)

(1, 23, 4, 4)
[1, 23, 4, 4]

In [45]:
#mixed tuples : different datatypes
mixed = (1, "Subrat", 2, "Khushi")
print(mixed, type(mixed))

(1, 'Subrat', 2, 'Khushi') <class 'tuple'>

In [52]:
#Accessing the element of the tuples is same as list
print(numbers[0], numbers[1], numbers[-1])

#Slicing in tuples are also same as list in tuples
numbers = (1,2,3,45,5,6,7)
print(numbers[0:5])
print(numbers[3:], numbers[:4])
print(numbers[::2])
print(numbers[::-1])

1 2 7
(1, 2, 3, 45, 5)
(45, 5, 6, 7) (1, 2, 3, 45)
(1, 3, 5, 7)
(7, 6, 5, 45, 3, 2, 1)

In [56]:
#Tuples operations
concatinate = numbers + mixed
print(concatinate)

print(numbers * 4, end=" ") #tuple get duplicated for 4 times

(1, 2, 3, 45, 5, 6, 7, 1, 'Subrat', 2, 'Khushi')
(1, 2, 3, 45, 5, 6, 7, 1, 2, 3, 45, 5, 6, 7, 1, 2, 3, 45, 5, 6, 7, 1, 2, 3, 45, 5, 6, 7)

In [ ]:
#immutable nature of tuples
#tuples are immutable : once elements assigned cant be change 

lst = [1,2,3,4]
print(lst)
lst[3]=6
print(lst)

numbers[0] = 6 #tuples are immutabe 
print(numbers)

In [61]:
#Methods of tuples
numbers = (1,3,4,4,5,6,7,8)
print(numbers.count(4)) #occurrence of 4 in tuple
print(numbers.index(4)) #first encountered index of 4 will be returned

2
2

In [ ]:
#packing and unpacking tuples
unpacked_items = 1, "Hello", 3, "World"
print(unpacked_items, type(unpacked_items)) #by default tuple me convert ho jata hai

#we want to unpack it 
a,b,c,d = unpacked_items
print(a,b,c,d)

#we can access the first and last and remaining item of unpacked item
first, *middle, last = unpacked_items;
print(first, middle, last)  #*middle will hold the 2 index to 2nd last index item of the tuple as first and last index hold the first and last item of tuple
print(type(middle)) #*middle will be of type list

(1, 'Hello', 3, 'World') <class 'tuple'>
1 Hello 3 World
1 ['Hello', 3] World
<class 'list'>

In [ ]:
#nested list : list within the list
lst = [[1,2,3],[5,6,7],(8,9,19)]
#if we want to print the list
for sub_lst in lst :
    for item in sub_lst :
        print(item, end=" ")
    print()

#if we want to the access the nested list
print(lst[0])
print(lst[1][2])
print(lst[2][1:]) #slicing in nested list
print(type(lst[2])) #nested list cna also have the tuple inside it

1 2 3
5 6 7
8 9 19
[1, 2, 3]
7
(9, 19)
<class 'tuple'>

In [83]:
#similarly we can use the nested  tuples
tpl = ((1,2,3), (4,"Subrat", "Hello"), (3.14, 738, "Khushi"))
#if we want to print the nested tuple
for sub_tpl in tpl : 
    for item in sub_tpl :
        print(item, end=" ")
    print()

#if we want to access the elements of the tuple too same like of list
print(tpl[0], tpl[1], tpl[2])
print(tpl[1][1:]) #slicing used in tuple
print(tpl[1][2])

1 2 3
4 Subrat Hello
3.14 738 Khushi
(1, 2, 3) (4, 'Subrat', 'Hello') (3.14, 738, 'Khushi')
('Subrat', 'Hello')
Hello