# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [2]:
#Question:1 
tpl = tuple(range(1, 10))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [6]:
#Question:2
n = len(tpl)
print(f"The first element of the above tuple is : {tpl[0]}")
print(f"The middle element of the above tuple is : {tpl[n // 2]} or {tpl[int(n/2)]} both way can be used")
print(f"The last element of the above tuple is : {tpl[-1]} or {tpl[n-1]} both way can be used")

The first element of the above tuple is : 1
The middle element of the above tuple is : 5 or 5 both way can be used
The last element of the above tuple is : 9 or 9 both way can be used

In [14]:
#Question:3
print(f"The first three element of the above tuple is : {tpl[:3]}")
print(f"The last three element of the above tuple is : {tpl[-3:]}")
print(f"The element from index two to five in above tuple is : {tpl[2:6]}")

The first three element of the above tuple is : (1, 2, 3)
The last three element of the above tuple is : (7, 8, 9)
The element from index two to five in above tuple is : (3, 4, 5, 6)

In [18]:
#Question:4
tpl = ((1,2,3),(4,5,6),(7,8,9))
for sub_tpl in tpl :
    for ele in sub_tpl : 
        print(ele, end=" ")
    print()
print(f"The second row and third column element is : {tpl[1][2]}")

1 2 3
4 5 6
7 8 9
The second row and third column element is : 6

In [26]:
#Question:5
tpl1= (1,2,3)
tpl2 = (4,5,6)
concatinate = tpl1 + tpl2
print(concatinate)

(1, 2, 3, 4, 5, 6)

In [30]:
#Question:6
tpl = (1,2,3,4,4,4,4,5,6,6)
print(tpl.count(4), tpl.count(6))
print(tpl.index(4), tpl. index(6))

4 2
3 8

In [24]:
#Question:7
#unpacking and packing with five items and print with 5 different variables
packed = 1, "Subrat", "Khushi", 2, 3.14
print(packed)
#now, unpacked them and print
a,b,c,d,e = packed
print(a, b, c, d, e)

(1, 'Subrat', 'Khushi', 2, 3.14)
1 Subrat Khushi 2 3.14

In [32]:
#Question:8
tpl = tuple(list(range(1,6)))
print(tpl)

(1, 2, 3, 4, 5)

In [35]:
#Question:9 
tpl = ((1,2,3),(4,5,6),(7,8,9))
print(tpl)
for sub_tpl in tpl :
    for ele in sub_tpl :
        print(ele, end=" ")
    print()

((1, 2, 3), (4, 5, 6), (7, 8, 9))
1 2 3
4 5 6
7 8 9

In [41]:
#Question:10
tpl = list(tuple(range(1,6)))
print(tpl)
tpl.append(6)
tpl = tuple(tpl)
print(tpl)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5, 6)

In [50]:
#Question:11
string = "Subrat"
tpl = tuple(string)
print(tpl)
empty_str = ''
string = empty_str.join(tpl) #the empty string will be used to form the single strings from the characters present inside the tuple
print(string)

('S', 'u', 'b', 'r', 'a', 't')
Subrat

In [56]:
#Question:12
dictionary = {(1,2,3):1, (4,5,6):2, (7,8,9):3}
print(dictionary, type(dictionary))

{(1, 2, 3): 1, (4, 5, 6): 2, (7, 8, 9): 3} <class 'dict'>

In [64]:
#Question:13
tpl = ((1,2,3),(4,5,6),(7,8,9))
for sub_tpl in tpl :
    for ele in sub_tpl : 
        print(f"The element is {ele}")

The element is 1
The element is 2
The element is 3
The element is 4
The element is 5
The element is 6
The element is 7
The element is 8
The element is 9

In [67]:
#QUestion:14
tpl = (1,2,3,3,3,4,5,6,7,7,7,8,9)
print(tpl)
unique = set(tpl)
print(unique, type(unique))

(1, 2, 3, 3, 3, 4, 5, 6, 7, 7, 7, 8, 9)
{1, 2, 3, 4, 5, 6, 7, 8, 9} <class 'set'>

In [75]:
#Question:15

def sumEle(tpl) :
    sum=0
    for ele in tpl :
        sum += ele
    return sum

tpl = (1,2,3,4,5)
maxEle = max(tpl)
minEle = min(tpl)
print(f"The maximum, minimum and sum of all the elements in {tpl} is max: {maxEle}, min: {minEle} and  sum: {sumEle(tpl)}")

The maximum, minimum and sum of all the elements in (1, 2, 3, 4, 5) is max: 5, min: 1 and  sum: 15