# SQL And SQLite

SQL(Structure Query language) is a programming language that is used for accessing, manipulating, storing, retrieving the relation databases(in the form of rows and columns). We write SQL queries to manipulate the relational data stored in the databases.

SQLite it is a serverless, self-contained and zero-configuration database, which stored all the tables and data within the single .db file. The file is created within the current working directory and we can also use SQL queries and perform CRUD operations in SQLite too. It is handy to use within the embedded systems

In [1]:
import sqlite3

In [4]:
# Connect to the SQLite database 
conn = sqlite3.connect('example.db')
conn #It is instance of connection tells that the sqlite connection to db is made at particular memory location

In [5]:
cursor = conn.cursor() #tool to run SQL queries and iterate through tables within the db

In [6]:
#Create a Table employee
cursor.execute('''
Create Table If Not Exists employees (
    id int Primary Key,
    name varchar(20) NOT NULL,
    age int,
    department varchar(40)
    )
               
''')

#Commit the changes
conn.commit() #initially the changes are not permanently saved immediately. conn.commit(): Ensure the changes made inside the database are made permanently,

In [8]:
#SQL query writing

cursor.execute('''Select * from employees''')

In [ ]:
#Insert some data in sqlite table
cursor.execute('''
INSERT INTO employees(id, name, age, department)
    VALUES ('101', 'Subrat', 24, 'MCA(SE)')
''')
cursor.execute('''
INSERT INTO employees(id, name, age, department)
    VALUES ('102', 'Khushi', 24, 'B.Ed')
''')
cursor.execute('''
INSERT INTO employees(id, name, age, department)
    VALUES ('103', 'Raj', 21, 'BBA')
''')
cursor.execute('''
INSERT INTO employees(id, name, age, department)
    VALUES ('104', 'Mohan', 22, 'LLM Law')
''')

#make the permanent save 
conn.commit()

In [15]:
import pandas as pd

#Select all data from employee table
cursor.execute('''Select * from employees''')

rows = cursor.fetchall() #use to fetch all the records of particular table
df = pd.DataFrame(rows, columns=['Id','Name','Age','Course'])
df.set_index('Id', inplace=True)
df

# for row in rows :
#     print(row)

       Name  Age   Course
Id
101  Subrat   24  MCA(SE)
102  Khushi   24     B.Ed
104   Mohan   34  LLM Law

In [16]:
#Update the data in table 
cursor.execute("UPDATE employees SET age=34 WHERE name ='Mohan'")
conn.commit()

#now we can again print the rows
cursor.execute('''Select * from employees''')
rows = cursor.fetchall() 
for row in rows :
    print(row)

(101, 'Subrat', 24, 'MCA(SE)')
(102, 'Khushi', 24, 'B.Ed')
(103, 'Raj', 21, 'BBA')
(104, 'Mohan', 34, 'LLM Law')

In [18]:
#Delete the data from table
cursor.execute("DELETE FROM employees WHERE name='Raj'")
conn.commit()

#now we can again print the rows
cursor.execute('''Select * from employees''')
rows = cursor.fetchall() 
for row in rows :
    print(row)

(101, 'Subrat', 24, 'MCA(SE)')
(102, 'Khushi', 24, 'B.Ed')
(104, 'Mohan', 34, 'LLM Law')

In [11]:
#Working with the sales data

#Connect to the sqlite database
conn = sqlite3.connect('sales_data.db')
cursor = conn.cursor() 

cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    sales_id int PRIMARY KEY,
    date varchar(10) NOT NULL,
    product varchar(20) NOT NULL,           
    sales int,
    region varchar(20)
    )
''')

In [13]:
#Insert the data 
sales_data = [
    ('101', '2025-11-01', 'mobile', 32, 'northern'),
    ('102', '2025-11-02', 'laptop', 65, 'eastern'),
    ('103', '2025-11-10', 'monitor', 45, 'eastern'),
    ('104', '2025-11-14', 'processor', 21, 'western'),
    ('105', '2025-12-20', 'motherboard', 89, 'southern')
]

cursor.executemany('''
INSERT INTO sales(sales_id, date, product, sales, region)
    VALUES(?,?,?,?,?)
''', sales_data)

conn.commit()

In [ ]:
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall() #select all the record 

for row in rows :
    print(row)

(101, '2025-11-01', 'mobile', 32, 'northern')
(102, '2025-11-02', 'laptop', 65, 'eastern')
(103, '2025-11-10', 'monitor', 45, 'eastern')
(104, '2025-11-14', 'processor', 21, 'western')
(105, '2025-12-20', 'motherboard', 89, 'southern')

In [15]:
conn.close()