# Module: SQLite3 Assignment

In [26]:
import sqlite3

### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.

In [27]:
def create_db(db_name) :
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    conn.commit()
    conn.close()

create_db('dummy.db')

2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

In [28]:
def create_table(db_name) :
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS employees(
            id int PRIMARY KEY,
            name text NOT NULL,
            age int,
            department text    
        )
    ''')
    conn.commit()
    conn.close()
    print("Table 'employees' created successfully.")

create_table('test.db')

Table 'employees' created successfully.

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.

In [ ]:
def insert_data_employees(db_name) :
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    cursor.execute('''
        INSERT INTO employees(id, name, age, department)
               VALUES(101, 'Subrat', 24, 'Data Scientist')
    ''')
    conn.commit()
    conn.close()
    print("New Employee Successfully Created")

insert_data_employees('test.db')

2. Insert at least 5 different employees into the `employees` table.

In [ ]:
def insert_employees(db_name, employee_data) :
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    cursor.executemany('''
        INSERT INTO employees(id, name, age, department)
              VALUES(?,?,?,?)
    ''', employee_data)
    conn.commit()
    conn.close()
    print('Data Added Successfully')

employee_data = [
    (102, 'khushi', 24, 'Teacher'),
    (103, 'raj', 22, 'Software Engineer'),
    (104, 'sohan', 26, 'Consultant'),
    (105, 'mohan', 25, 'Lawyer'),
    (106, 'ram', 21, 'Student'),
]

insert_employees('test.db', employee_data)

Data Added Successfully

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.

In [ ]:
def query_employee(db_name) :
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    cursor.execute('''SELECT* FROM employees''')
    rows = cursor.fetchall()
    for row in rows :
        print(row)
    conn.close()
    print("All Records of employees table is fetched successfully")

query_employee('test.db')

(101, 'Subrat', 24, 'Data Scientist')
(102, 'khushi', 24, 'Teacher')
(103, 'raj', 22, 'Software Engineer')
(104, 'sohan', 26, 'Consultant')
(105, 'mohan', 25, 'Lawyer')
(106, 'ram', 21, 'Student')
All Records of employees table is fetched successfully


2. Write a Python function to fetch and display all employees from a specific department.

In [ ]:
#? only accepts the tuple or sequence dept_name = 'Data Scientist' is a string we have to make a tuple of single string so thats why we need to make (dept_name,): it is a tuple

def fetch_employee_by_department(db_name, dept_name) :
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    cursor.execute('SELECT* FROM employees WHERE department = ?', (dept_name,)) 
    records = cursor.fetchall()
    conn.close()
    for record in records :
        print(record)

fetch_employee_by_department('test.db', 'Data Scientist')

(101, 'Subrat', 24, 'Data Scientist')

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.

In [ ]:
def update_employees(db_name, id, dept_name) :
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    cursor.execute('''UPDATE employees SET department= ? WHERE id = ? ''', (dept_name, id)) #because ? takes only tuple or sequence values
    conn.commit()
    conn.close()
    print("Successfully Updated the data in employee table")

update_employees('test.db', 104, 'Product Manager')

Successfully Updated the data in employee table

2. Update the department of at least 2 employees and display the updated records.

In [ ]:

update_employees('test.db', 105, 'Data Analyst')
update_employees('test.db', 106, 'Data Engineer')

query_employee('test.db')

Successfully Updated the data in employee table
Successfully Updated the data in employee table
(101, 'Subrat', 24, 'Data Scientist')
(102, 'khushi', 24, 'Teacher')
(103, 'raj', 22, 'Software Engineer')
(104, 'sohan', 26, 'Product Manager')
(105, 'mohan', 25, 'Data Analyst')
(106, 'ram', 21, 'Data Engineer')
All Records of employees table is fetched successfully

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.

In [ ]:
def delete_employees(db_name, id) :
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    cursor.execute('''DELETE FROM employees WHERE id = ? ''', (id,)) #because ? takes only tuple or sequence values
    conn.commit()
    conn.close()
    print("Successfully deleted the data from employee table")

delete_employees('test.db', 106)
query_employee('test.db')

Successfully deleted the data from employee table
(101, 'Subrat', 24, 'Data Scientist')
(102, 'khushi', 24, 'Teacher')
(103, 'raj', 22, 'Software Engineer')
(104, 'sohan', 26, 'Product Manager')
(105, 'mohan', 25, 'Data Analyst')
All Records of employees table is fetched successfully


2. Delete at least 1 employee and display the remaining records.

In [ ]:
delete_employees('test.db', 104)

query_employee('test.db')

Successfully deleted the data from employee table
(101, 'Subrat', 24, 'Data Scientist')
(102, 'khushi', 24, 'Teacher')
(103, 'raj', 22, 'Software Engineer')
(105, 'mohan', 25, 'Data Analyst')
All Records of employees table is fetched successfully

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.

In [ ]:
def fetch_employees_by_certain_age(db_name, age) :
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    cursor.execute('''SELECT * FROM employees WHERE age > ? ''', (age,)) #because ? takes only tuple or sequence values
    records = cursor.fetchall()
    conn.close()
    for record in records :
        print(record)

fetch_employees_by_certain_age('test.db', 22)

(101, 'Subrat', 24, 'Data Scientist')
(102, 'khushi', 24, 'Teacher')
(105, 'mohan', 25, 'Data Analyst')

2. Write a Python function to fetch and display employees whose names start with a specific letter.

In [ ]:
def fetch_employees_by_specific_letter(db_name, letter) :
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    cursor.execute('''SELECT * FROM employees WHERE name LIKE ?''', (letter + '%',)) #because ? takes only tuple or sequence values
    records = cursor.fetchall()
    conn.close()
    for record in records :
        print(record)

fetch_employees_by_specific_letter('test.db', 's')

(101, 'Subrat', 24, 'Data Scientist')

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.

In [ ]:
'''
Until unless we have committed, all the changes made inside the db are stored within the current transaction and if any error occurred and the connection is not committed than the current 
transaction is rolled back means the current transaction will be terminated. Either the transaction will completely happen or there will be no transaction. Partial transaction are not 
accepted. So if half the way the transaction is successful and later half if there is any error conn.rollback() terminate the whole transaction.

Point to Remember: 
to automatically handle the allocation and deallocation of db and ensuring if the error is occurred rollback the connection we can use "with + context managers"
Syntax: with sqlite3.connect('text.db') as conn : in this you dont need try-except block and dont need to write the conn.commit() and conn.close() again and again, it is handled automatically 
by content managers along with the "with" keyword
'''

def insert_multiple_employees(db_name, employees) :
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    try :
        cursor.executemany('''
            INSERT INTO employees(id, name, age, department)
                VALUES(?,?,?,?)
        ''', employees)
        conn.commit()
        print("The data is successfully updated")
    except Exception as e :
        conn.rollback()
        print("There occurred an error", e)
    finally :
        conn.close()
        
    
employees = [
    (106, 'Frank', 40, 'Finance'),
    (107, 'Grace', 29, 'Engineering'),
    (108, 'Hannah', 35, 'Marketing'),
    (109, 'Ivan', 38, 'Sales'),
    (110, 'Jack', 45, 'HR')  # Duplicate ID to cause an error
]
insert_multiple_employees('test.db', employees)
query_employee('test.db')

The data is successfully updated
(101, 'Subrat', 24, 'Data Scientist')
(102, 'khushi', 24, 'Teacher')
(103, 'raj', 22, 'Software Engineer')
(105, 'mohan', 25, 'Data Analyst')
(106, 'Frank', 40, 'Finance')
(107, 'Grace', 29, 'Engineering')
(108, 'Hannah', 35, 'Marketing')
(109, 'Ivan', 38, 'Sales')
(110, 'Jack', 45, 'HR')
All Records of employees table is fetched successfully

2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

In [ ]:
def update_multiple_employees_ages(db_name, updates_age) :
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    try :
        cursor.executemany('UPDATE employees SET age = ? WHERE id = ?', updates_age)
        print("The data is successfully updated")
        conn.commit()
    except Exception as e :
        conn.rollback()
        print("There occurred an error", e)
    finally :
        conn.close()

updates_age = [
    (32, 103),
    (26, 105),
    (33, 106),
    (41, 107),  
    (23, 108)
]
update_multiple_employees_ages('test.db', updates_age)
query_employee('test.db')

The data is successfully updated
(101, 'Subrat', 24, 'Data Scientist')
(102, 'khushi', 24, 'Teacher')
(103, 'raj', 32, 'Software Engineer')
(105, 'mohan', 26, 'Data Analyst')
(106, 'Frank', 33, 'Finance')
(107, 'Grace', 41, 'Engineering')
(108, 'Hannah', 23, 'Marketing')
(109, 'Ivan', 38, 'Sales')
(110, 'Jack', 45, 'HR')
All Records of employees table is fetched successfully


### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).

In [ ]:
def create_departments_table(db_name):
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS departments (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL
        )
    ''')
    conn.commit()
    conn.close()
    print("Table 'departments' created successfully.")

# Test the function
create_departments_table('test.db')

Table 'departments' created successfully.

2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.

In [ ]:
def add_department_foreign_key(db_name):
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    cursor.executescript('''
        PRAGMA foreign_keys=off;
        BEGIN TRANSACTION;
        ALTER TABLE employees RENAME TO old_employees;
        CREATE TABLE employees (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER,
            department TEXT,
            department_id INTEGER,
            FOREIGN KEY(department_id) REFERENCES departments(id)
        );
        INSERT INTO employees (id, name, age, department)
        SELECT id, name, age, department FROM old_employees;
        DROP TABLE old_employees;
        COMMIT;
        PRAGMA foreign_keys=on;
    ''')
    conn.commit()
    conn.close()
    print("Table 'employees' modified successfully.")

# Test the function
add_department_foreign_key('test.db')

Table 'employees' modified successfully.

3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

In [ ]:
def insert_department_and_employee(department_id, department_name, employee_id, name, age, department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.execute('''
            INSERT INTO departments (id, name)
            VALUES (?, ?)
        ''', (department_id, department_name))
        cursor.execute('''
            INSERT INTO employees (id, name, age, department, department_id)
            VALUES (?, ?, ?, ?, ?)
        ''', (employee_id, name, age, department, department_id))
        conn.commit()
        print("Department and employee inserted successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

# Test the function
insert_department_and_employee(1, 'Finance', 10, 'Zara', 28, 'Finance')

Department and employee inserted successfully.

In [ ]:
query_employee('test.db')

(10, 'Zara', 28, 'Finance', 1)
(101, 'Subrat', 24, 'Data Scientist', None)
(102, 'khushi', 24, 'Teacher', None)
(103, 'raj', 32, 'Software Engineer', None)
(105, 'mohan', 26, 'Data Analyst', None)
(106, 'Frank', 33, 'Finance', None)
(107, 'Grace', 41, 'Engineering', None)
(108, 'Hannah', 23, 'Marketing', None)
(109, 'Ivan', 38, 'Sales', None)
(110, 'Jack', 45, 'HR', None)
All Records of employees table is fetched successfully

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.

In [ ]:
def create_index_on_name():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('CREATE INDEX idx_name ON employees(name)')
    conn.commit()
    conn.close()
    print("Index on 'name' column created successfully.")

# Test the function
create_index_on_name()

Index on 'name' column created successfully.

2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

In [ ]:
import time

def fetch_employees_name_starts_with_performance(letter):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    start_time = time.time()
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?', (letter + '%',))
    records = cursor.fetchall()
    end_time = time.time()
    conn.close()
    print("Time taken: {} seconds".format(end_time - start_time))
    for record in records:
        print(record)

# Test the function with the index
fetch_employees_name_starts_with_performance('G')

Time taken: 0.005216121673583984 seconds
(107, 'Grace', 41, 'Engineering', None)

### Assignment 10: Backing Up and Restoring Data



1. Write a Python function to back up the `test.db` database to a file named `backup.db`.

In [ ]:
import shutil #this is use for the high level file operation like(copy, move, remove and backup), though we can do this with os module but it is bit complex, using shutil within minimal code we cam perform complex high file operations

def backup_db() :
    shutil.copy('test.db', 'backup.db')
    print("Database backed up successfully.")

backup_db()

Database backed up successfully.




2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [ ]:
def restore_db() :
    shutil.copy('backup.db', 'test.db')
    print("Database restored successfully.")

restore_db()

Database restored successfully.